@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #35a22c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.fa {  
    padding: 15px;  
    text-align: center;  
    margin: 5px 2px;  
    font-size: 30px; 
    width: 50px;   
}  

.fa-linkedin {  
    background: #007bb5;  
    color: white;  
}  

  
.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(images/pexels-adrien-olichon-2387793.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

header nav.navbar {
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5);
}

header nav.navbar .navbar-brand {
    color: #FFF;
    font-size: 1.4rem;
}

header nav.navbar .navbar-nav .nav-item {
    margin-right: .5rem;
}

header nav.navbar .navbar-nav .nav-item .nav-link {
    padding: .5rem;
    color: #FFF;
    transition: .3s;
}

header nav.navbar .navbar-nav .nav-item .nav-link:hover, header nav.navbar .navbar-nav .nav-item.active .nav-link {
    color: var(--primary-color);
}

header nav.navbar .navbar-toggler {
    color: #FFF;
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 999;
    outline: none;
    background-color: var(--primary-color);
}

header .header-content {
    position: absolute;
    z-index: 999;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: left;      /* initially center */
    flex-direction: column;
}

header .header-content .content {
    z-index: 999;
    margin-top: 20px;
    text-align: left;
}

header .header-content .content h2 {
    color: #FFF;
    font-weight: 600;
    font-size: 2.5rem;
}

header .header-content .content p {
    font-size: 1.3rem;
    color: #FFF;
    font-weight: 500;
}



/* ------------ ABOUT SECTION -------------*/

.about {
    width: 100%;
}

.about .content {
    text-align: justify;
}

.about .content h2 {
    font-weight: 700;
    color: #111;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about .content p {
    color: #333;
    font-size: 1rem;
    font-weight: 500;
}

.about .about-buttons {
    display: flex;
    flex-wrap: wrap;
    transform: translateY(30px);
}

.about .about-buttons .about-buttons-content {
    text-decoration: none;
    font-weight: 600;
    color: #111;
    border: 2px solid;
    border-radius: 30px;
    padding: .7rem 2rem;
    margin: 0 .5rem;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    transition: .3s;
}

.about .about-buttons .about-buttons-content:hover {
    color: var(--primary-color);
}



/* -----------PROJECTS SECTION -----------*/

#projects-heading {
    text-align: left;
    font-weight: 500;
    font-size: 2.5rem;
}

.card {
    transition: 0.5s;   
    animation: ease-in;
    border: 10px solid;
    /* transform: scale(1.1); */
}

.card:hover {
    transform: scale(1.1);
}



/* ---------TIMELINE SECTION ---------*/

.timeline-section h1 {
    color:#ffffff;
}

.timeline-section{
	background-color: #24292d;
    /* background-color: green; */
	min-height: 100vh;
	padding: 40px 15px;  /* to adjust the heading education */
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #35a22c;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #35a22c;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 15px;    /* initially 22 */
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}



/* ----------ACHIEVEMENTS SECTION -----------*/

.services {
    background-image: url(../images/dave-hoefler-6izXYgG1L2M-unsplash.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.services::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
}

.services .content {
    z-index: 999;
    position: relative;
    color: #FFF;
}

.services .content h2 {
    color: #FFF;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: left; 
    /* text-align: center;  */
    margin-bottom: 20px;
}

.services .content .single-achieve {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    transition: .4s all ease-in-out;
}

.services .content .single-achieve:hover {
    background-color: rgba(0, 0, 0, .5);
}

.services .content .single-achieve * {
    text-align: center;
}

.services .content .single-achieve i {
    font-size: 3rem;
    color: rgb(75, 201, 64);
    text-align: center;
    display: block;
    margin-bottom: 20px;
    transition: .3s;
}

.services .content .single-achieve:hover i {
    color: var(--primary-color);
}

.services .content .single-acieve h4 {
    font-size: 1.5rem;
    color: #FFF;
    font-weight: 600;
}

.services .content .single-achieve p {
    font-size: 1rem;
    color: #f1f1f1;
    text-align: justify;
}

